<?xml version="1.0" encoding="UTF-8"?>
<suite name="Recipe Automation Suite">
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>
    <test name="Cucumber Tests">
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>
</suite>
